.Main {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    background: linear-gradient(to right, rgb(5,53,101),rgb(14,82,131),rgb(17,103,160), rgb(19,119,178));    height: 100vh;
    align-items: center;
}

/**** CODIGOS CSS PRIMEIRA FAIXA (FAIXA ANTES DO CARD BRANCO)****/


.Faixa-IMG{
    height: 10px;
    display: flex;
    width: 100vw;
}

.Faixa1-Logo{
background-image: url(../../../public/Assets/Imgs/Frases_Do_ano-removebg-preview\ 1.svg);    
background-repeat: no-repeat;
    display: flex;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    margin: -2em -2em;
}

.Faixa1 h1{
    color: white;
    font-size: 25px;
    font-family: 'Inter-Bold';
}

.Img-Sair{
position: relative;
left: 45%;
cursor: pointer;
display: flex;
flex-direction: column;
}

.Img-Sair h4{
    justify-content: flex-start;
    margin-bottom: 2px;
    color: white;  
    font-family: 'Inter-Bold';
    margin-left: 5px;
}

.Img-Sair-Ranking h4{
    justify-content: flex-start;
    margin-bottom: 2px;
    color: white;  
    font-family: 'Inter-Bold';
    margin-left: 5px;
}

.Card-F1 button{
    height: 2.5em;
    color: black;
    background-color: white;
    border-radius: 7px;
    border: solid 2px #015587;
    cursor: pointer;
    font-family: 'Inter-Semi-Bold';
    opacity: 0.6;
    font-size: 13px;
    margin-left: 5px;
}

.Card-F1 button:hover{
    transition: 0.3s; 
    color: black;
    opacity: 1;
}

/**** CODIGOS CSS PRIMEIRO CARD(BRANCO)***/
.F1-Card{
    display: flex;
    background-color: white;
    width: 35em;
    height: 25em;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll
}

.F1-Card::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
    border: 1px  solid black;
    background-color: #386D9B;
}
.F1-Card::-webkit-scrollbar-thumb{
    background-color: #A4DDFF;
    border-radius: 5px;
}


.Card-F1{
margin-bottom: 10px;
 width:32em ;
height:2em ;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.F1-Card-Pesquisa{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    width: 28em;
    border-radius: 7px;
}

.Card-F1 input{
        width: 28em;
        border-radius: 7px;
    height: 2.0em;
    font-family: 'Inter-Semi-Bold';
    font-size: 15px;
    border: none;
    margin-left: 5px;
}

input{
    outline: none;
}
.F1-Card  h1{
    font-family: 'Inter-Bold';
    color: #286090;
}

/**** CODIGOS CSS SEGUNDO CARD (CARDS AZUIS QUE AGRUPAM A FRASE,OBSERVAÇÃO, DATA, E IMAGENS )****/
.Card-F2{
    margin-top: 10px;
    height: 7.5em ;
    width:28em ;
    background-color: #709CC2;
    border-radius: 7px;
}

.Load{
  border: 16px solid #f3f3f3;
  border-top: 16px solid #3498db; 
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.Card-F2-h4{
    justify-content: flex-start;
    margin-bottom: 2px;
    color: white;  
    font-family: 'Inter-Semi-Bold';
    margin-left: 5px;
}

.Card-F2 span{
    justify-content: flex-start;
    margin-bottom: 2px;
    color: #1d4b73;    
    font-family: 'Inter-Semi-Bold';
}

.Group-Info{
    display: flex;
    flex-direction: column;
    height: 6em;
    width:27em ;
    justify-content: center;
}

.Card-F2 > div{
    display: flex;
    justify-content: flex-end;   
    align-items: flex-end;
    margin-top: 5px;
}

.Card-F2 img{
    cursor: pointer;
    margin-right: 5px;
    width: 28px;
    height: 28px;
}

.container{
    background-color: rgba(0, 0, 0, .4);
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    justify-content:center;
    align-items:center;
}
.popup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    max-height: 12em;
    max-width: 480px;
    margin: 10% auto;
    padding: 20px;
    position: relative;
    background-color: white;
    border-radius: 7px;
}
.popup-fechar{
    font-family: 'WebDings';
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
.popup-content{
    height:20em ;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popup-div-Inputs{
    flex-direction: column;
}
.popup input{
    border-radius: 7px;
    border: solid 2px #015587;
    width: 28em;
    height: 2.0em;
    font-family: 'Inter-Semi-Bold';
    font-size: 15px;
    margin-top: 5px;
}
.popup button{
    width:8em;
    height: 2.4em;
    color: white;
    background-color: #286090;
    border-radius: 15px;
    border: solid 2px #015587;
    cursor: pointer;
    font-family: 'Inter-Semi-Bold';
    opacity: 0.6;
    
}
.popup button:hover{
    transition: 1.0s; 
    color: white;
    opacity: 1;
}



.H4-Inclusion{
    font-size: 12px;
    color:  black;
    display: flex;
    justify-content: flex-start;   
    font-family: 'Inter-Semi-Bold';
    margin: 5px;

}

.Faixa-2{
    margin-top: 10px;
    display: flex;
    flex-direction: column;

}
.Card-2{
    display: flex;
    background-color: white;
    width: 35em;
    height: 10em;
    border-radius: 8px;
    justify-content: space-around;
    flex-direction: column;
}

.Card-2 input{
    border-radius: 7px;
    border: solid 2px #015587;
    width: 29em;
    height: 2.0em;
    font-family: 'Inter-Semi-Bold';
    font-size: 15px;
    margin-left: 5px;
    margin-right: 5px;
}

.Card-2-Faixa-1 h1{
    font-family: 'Inter-Bold';
    color: #286090;
    display: flex;
    justify-content: center;
}

.Card-2-Faixa-2{
    display: flex;
    justify-content: space-between;

}

.Card-2 button{
    width:8em;
    height: 2.4em;
    color: white;
    background-color: #286090;
    border-radius: 15px;
    border: solid 2px #015587;
    cursor: pointer;
    font-family: 'Inter-Semi-Bold';
    opacity: 0.6;
}

.Card-2-Faixa-3{
    display: flex;
    justify-content: space-around;
    align-items: center;
    }


.Card-2 button:hover{
  transition: 0.3s; 
  color: white;
  opacity: 1;
}

.Frase-Do-Ano-text:hover{
    transition: 1.5s; 
    font-size: 30px;
}

/**** FONTS USADAS****/

@font-face {
    font-family: 'Inter-Bold';
    src: url(../../../public/Assets/Fonts/Inter-Bold.ttf)
}

@font-face {
    font-family: 'Inter-Semi-Bold';
    src: url(../../../public/Assets/Fonts/Inter-SemiBold.ttf)
}

@font-face {
    font-family: 'WebDings';
    src: url(../../../public/Assets/Fonts/Webdings-Regular.ttf)
}
