.RankingDeFrases-Main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, rgb(5,53,101),rgb(14,82,131),rgb(17,103,160), rgb(19,119,178));
    align-items:center;
}

.Div-Imagem{
    display: flex;
    width: 100vw;
}

.Logo-Imagem{
    background-image: url(../../../public/Assets/Imgs/Frases_Do_ano-removebg-preview\ 1.svg);    
    background-repeat: no-repeat;
    display: flex;
    margin-right: 20px;
    height: 150px;
    width: 150px;
    margin: -2em -2em;
}

.F1-Card-Ranking{
    display: flex;
    background-color: white;
    width: 38em;
    height: 30em;
    border-radius: 8px;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll
}

.F1-Card-Ranking h1{
    font-family: 'Inter-Semi-Bold';
    color:#015587;
    font-size: 1.8em;
    margin-bottom: 15px;}

.F1-Card-Ranking::-webkit-scrollbar{
    width: 10px;
    border-radius: 5px;
    border: 1px  solid black;
    background-color: #386D9B;
}
.F1-Card-Ranking::-webkit-scrollbar-thumb{
    background-color: #A4DDFF;
    border-radius: 5px;
}

.Load{
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; 
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }

  .Card-F2{
    margin-top: 10px;
    height: 7.5em ;
    width:28em ;
    background-color: #709CC2;
    border-radius: 7px;
}

  .Card-F2-h4{
    justify-content: flex-start;
    margin-bottom: 2px;
    color: white;  
    font-family: 'Inter-Semi-Bold';
    margin-left: 5px;
}

.button{
    width:8em;
    height: 2.4em;
    color: white;
    background-color: #286090;
    border-radius: 15px;
    border: solid 2px #015587;
    cursor: pointer;
    font-family: 'Inter-Semi-Bold';
    opacity: 0.8;
    margin-top: 5px;
}

.button:hover{
    transition: 0.3s; 
    color: #286090;
    opacity: 1;
    background-color: white;
  }
  
  @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }

    .Img-Sair-Ranking{
        position: relative;
        left: 45%;
        top: -10%;
        cursor: pointer;
        }

    /*FONTES A SEREM USADAS */
@font-face {
    font-family: 'Inter-Bold';
    src: url(../../../public/Assets/Fonts/Inter-Bold.ttf)
}

@font-face {
    font-family: 'Inter-Semi-Bold';
    src: url(../../../public/Assets/Fonts/Inter-SemiBold.ttf)
}

@font-face {
    font-family: 'WebDings';
    src: url(../../../public/Assets/Fonts/Webdings-Regular.ttf)
}
