.container-principal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #286090;
    height: 100vh;
    
}

.box-frases {
    display: flex;
    background-color: #fff;
    width: 35rem;
    height: 35rem;
    border-radius: 5px;
}

.table-titulo{
    color: wheat;
    background-color: blue;
    margin: 1rem;
}

.table-exibir{
    width: 32.7vw;
}


.teste{
    display: flex;
    background-color: #E5F2FF;
    height: 1.rem;
}